* {
    box-sizing: border-box;
}


nav ul li {
    display: inline-block;
    float: left;
    padding: 2px;
    font-family: cursive;
    font-weight: bolder;
    font-size: 35px;
    
}

nav ul li p {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(53, 52, 54, 0.521);

}

nav>section {
    padding-bottom: 70px;
    
}
nav section ul:nth-child(2){
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}
main section:first-child{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}
nav div {
    display: inline;
    text-align: center;
    font-weight: bold;
    color: rgba(53, 52, 54, 0.521);
}

li {
    list-style: none;
}

body {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    /* margin-left: 190px;
    margin-right: 190px; */
}

main>div {
    padding-top: 40px;
    padding-bottom: 25px;
    text-align: center;
    font-weight: bold;
    color: rgba(53, 52, 54, 0.521);
}
main section{
    font-weight: bold;
    color: rgba(53, 52, 54, 0.521);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;


}

main section ul:nth-child(2){
    float: right;
}
main section p{
    padding-top: 10px;
    font-weight: lighter;
    color: rgba(43, 51, 70, 0.658);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}
main section:first-child ul li p:first-child{
    padding-top: 35px;
    padding-bottom: 10px;    
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-family: serif;
    font-weight: 700;
    font-size: 40px;
}
main section:nth-child(6) img{
    padding-top: 35px;
}
main:last-child ul li {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 35px;
}

footer ul li {
    text-align: center;
    font-weight: bold;
    color: rgba(53, 52, 54, 0.521);
    
}